p {
    margin: 0;
    padding: 0;
}

div {
    margin: 30px auto;
    text-align: center;
}

#start {
    margin-top: 100px;
}

#btn {
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
}

#result {
    border: 1px solid;
    min-height: 200px;
    max-height: 300px;
    overflow-y: scroll;
    width: 80vw;
    max-width: 800px;
}

p:first-child {
    padding-top: 20px;
}
p:last-child {
    padding-bottom: 20px;
}
